@model List<Booking>
@{
    int? deleteBookingId = ViewBag.DeleteBookingId;
}

<head>
    <link href="~/css/admin.css" rel="stylesheet" />
</head>

<main class="container">
    <div class="admin-booking">
        <div class="booking-head">
            <h2>Current bookings</h2>
        </div>
        <div class="booking-body">
            @foreach (var booking in Model)
            {
                <div class="booking-item">
                    <div class="booking-item-left">
                        <h1>Booking ID: @booking.Id</h1>
                        <p>Name: @booking.User.Name</p>
                        <p>Email: @booking.User.Email</p>
                        <p>Date: @booking.EndDate.ToString()</p>
                        <h3>Booked items:</h3>

                        <div class="booking-item-inner">
                            @if (booking.Surfboards != null)
                            {   
                                foreach (var item in booking.Surfboards)
                                {
                                    <p>- @item.Name</p>
                                }
                            }
                            
                        </div>
                    </div>
                    <div class="booking-item-right">
                        <form asp-action="DeleteBooking" method="post">
                            <input type="hidden" name="id" value="@booking.Id"/>
                            <button type="submit" onClientClick="return confirm('Are you sure?')">
                                <img src="~/images/trash-can.png" alt="Remove from cart"/>
                            </button>
                        </form>
                        <div class="adminPopPopUp">
                            @if (deleteBookingId == booking.Id)
                            {
                                <!-- This block shows if the user clicked delete and is confirming -->
                                <div class="confirmation-box">
                                    <p>Er du sikker på at denne booking skal slettes? @booking.BookingId?</p>
                                    <form asp-action="ConfirmDeleteBooking" method="post">
                                        <input type="hidden" name="id" value="@booking.BookingId" />
                                        <button type="submit" class="admin-confirm">Ja, slet booking</button>
                                    </form>
                                    <form asp-action="Index" method="get">
                                        <button type="submit" class="admin-reject">Annuller slet</button>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <!-- Normal delete button -->
                                <form asp-action="ConfirmDeletionStep" method="post">
                                    <input type="hidden" name="id" value="@booking.BookingId"/>
                                    <button type="submit" class="trashcan">
                                        <img src="~/images/trash-can.png" alt="Remove booking" />
                                    </button>
                                </form>
                            }
                        </div>
                    </div>
                    </div>
            }
        </div>
    </div>
    
    <div class="admin-dashboard">
        <div class="booking-head">
            <h2>Dashboard</h2>
        </div>
        <div class="booking-body">
            <h2 style="display: flex; justify-content: center;">Indhold er ikke bestemt endnu</h2>
        </div>
    </div>
</main>

