@model CatalogItem

<main class="container">
    <div class="product-left">
        <img src="@Url.Content(Model.ImagePath)" alt="Image" />
    </div>
    <div class="product-right">
        <div class="product-description">
            <span>Category</span>
            <h1>@Model.Name</h1>
            <p>@Model.Description</p>
        </div>

        <div class="product-equipment">
            <p>Includes: @Model.Equipment</p>
            </div>

        <div class="product-price">
            <form asp-action="Add" method="post">
                <input type="hidden" name="id" value="@Model.CatalogItemId" />
                <button type="submit" class="cart-btn">Add to cart</button>
            </form>
        </div>

        <div class="specifications">
            <ul>
                <li id="len">Length: @Model.Length</li>
                <li id="width">Width: @Model.Width</li>
                <li id="thick">Thickness: @Model.Thickness</li>
                <li id="vol">Volume: @Model.Volume</li>
            </ul>
        </div>
    </div>
</main>



