@using Surfs_Up.Models
@model CatalogItem


<h3>Catalog: @Model.Name</h3>
<p>@Model.Description</p>
<p>Included Equipment: @Model.Equipment</p>
<h3>Price: @Model.Price</h3>

<div class="specifications">
    <ul>
        <li id="len">Length: @Model.Length</li>
        <li id="width">Width: @Model.Width</li>
        <li id="thick">Thickness: @Model.Thickness</li>
        <li id="vol">Volume: @Model.Volume</li>
    </ul>
</div>
