@model List<CatalogItem>
@{
    ViewBag.Title = "Catalog";
    int? popupItemId = ViewBag.PopupItemId;
}

<head>
    <link href="~/css/catalog.css" rel="stylesheet"/>
</head>


<main>
    <section id="catalog">
        <div class="catalog-head">
            <h2>Udstyr</h2>
        </div>
        <div class="catalog-grid">
            @foreach (var item in Model)
            {
                <a class="catalog-card" asp-action="Popup" asp-route-id="@item.Id">
                    <img src="@Url.Content(item.ImagePath)"/>
                    <div class="catalog-text-box">
                        <h4><b>@item.Name</b></h4>
                        <h4>@item.Price,- / dag</h4>
                        <p>@item.Description</p>
                    </div>
                </a>
            }
    
            @if (popupItemId.HasValue)
            {
                <div id="popup" class="popup @(popupItemId.HasValue ? "open-popup" : "")">
                    <div class="popup-content" id="popup">
                        @{
                            var item = Model.FirstOrDefault(i => i.Id == popupItemId.Value);
                            if (item != null)
                            {
                                <form asp-action="Index" method="post">
                                    <button class="close-btn">x</button>
                                </form>
                                <div class="product-left">
                                    <img src="@Url.Content(item.ImagePath)" alt="Image"/>
                                </div>
                                <div class="product-right">
                                    <div class="product-description">
                                        <span>Surfboard</span>
                                        <h1>@item.Name</h1>
                                        <p>@item.Description</p>
                                    </div>

                                    <div class="product-equipment">
                                        <p>Includes: @item.Equipment</p>
                                    </div>

                                    <div class="product-price">
                                        <form asp-action="Add" method="post">
                                            <input type="hidden" name="id" value="@item.Id"/>
                                            <button type="submit" class="cart-btn">Tilføj til kurv</button>
                                        </form>
                                        <h5>@item.Price,- / dag</h5>
                                    </div>

                                    <div class="specifications">
                                        <ul>
                                            <li id="len">Længde: @item.Length (Inch)</li>
                                            <li id="width">Bredde: @item.Width (Inch)</li>
                                            <li id="thick">Tykkelse: @item.Thickness (Inch)</li>
                                            <li id="vol">Volumen: @item.Volume (L)</li>
                                        </ul>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </section>
</main>

@if (popupItemId.HasValue)
{ 
    <style>
        .catalog-grid > *:not(.popup) {
            filter: blur(4px);
        }

        .catalog-head {
            filter: blur(4px);
        }
    </style>
}